In [3]:
import pandas as pd 
import  seaborn as sns
df= pd.read_csv("D:Ryam/Dataset/workers_data.csv",encoding='latin-1' )

#df.info keyword is used to undertand datatye of each columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   object
 9   Annual Salary  1000 non-null   float64
 10  Bonus %        1000 non-null   object
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 101.7+ KB

# df.describe()  keyword will give the quick math calcs of float and int64 columns simply number columns

In [7]:
df.describe()

               Age  Annual Salary
count  1000.000000    1000.000000
mean     44.382000  113217.365000
std      11.246981   53545.985644
min      25.000000   40063.000000
25%      35.000000   71430.250000
50%      45.000000   96557.000000
75%      54.000000  150782.250000
max      65.000000  258498.000000