In [10]:
import pandas as pd
import plotly.express as px

In [11]:
data=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-metropolitan-street.csv")
data1=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-norfolk-street.csv")
data2=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-northamptonshire-street.csv")
data3=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-northern-ireland-street.csv")
data4=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-northumbria-street.csv")
data5=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-north-wales-street.csv")
data6=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-north-yorkshire-street.csv")
data7=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-nottinghamshire-street.csv")
data8=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-south-wales-street.csv")
data9=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-south-yorkshire-street.csv")
data10=pd.read_csv("C:/Users/Syed - DM/Downloads/ukcrimedata/2023-01-staffordshire-street.csv")

frames = [data,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10]

finaldata = pd.concat(frames)
datav1 = finaldata.drop(["Context","Crime ID"], axis='columns')

datav1.shape

(179222, 10)

In [14]:
datav1.columns

Index(['Month', 'Reported by', 'Falls within', 'Longitude', 'Latitude',
       'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category'],
      dtype='object')

In [16]:
datav1.size

1792220

In [17]:
datav1.isnull( ).count( )

Month                    179222
Reported by              179222
Falls within             179222
Longitude                179222
Latitude                 179222
Location                 179222
LSOA code                179222
LSOA name                179222
Crime type               179222
Last outcome category    179222
dtype: int64

In [32]:
datav1 = finaldata.drop(["Crime ID","Reported by", "Falls within", "Longitude", "Latitude",
       "Location", "LSOA code", "LSOA name",
       "Last outcome category"], axis='columns')
crime_type_data=datav1.groupby(["Crime type"]).count()
crime_type_data.head(10)

                           Month  Context
Crime type
Anti-social behaviour      28744        0
Bicycle theft               1637        0
Burglary                    8979        0
Criminal damage and arson  12893        0
Drugs                       6198        0
Other crime                 3146        0
Other theft                17128        0
Possession of weapons       1272        0
Public order               10682        0
Robbery                     3284        0